@font-face {
    font-family: Cyrene;
    src: url(Cyrene+Regular.otf);
  }
body {
    background-color: #ebecf1;
    line-height: 1.2;

    header {
        width: 100%;
        padding: 40px;
        
    }
    h1 {
        font-family: Cyrene;
        font-size: 64px;
    }
    .icon {
        font-family: sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: #000;
        position: absolute;
        left: 95%;
        top: 10%;
        font-family: 'Roboto', sans-serif;

    }

    .menu {
        background-color: #206a5d;
        width:  400px;
        position:  fixed;
        top: 0;
        left:  75%;
        height:  100%;
        transform: translateX(100%);
    }
    .menu-nav {
        position: absolute;
        left: 40px;
        top:  50%;
        transform: translateY(-50%);
        
      }
      .menu-nav a {
        font-size: 64px;
        font-weight:  700;
      /*  a tags are stacked on top of each other  */
        display:  block;
        margin-bottom:  20px;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        color: #ebecf1;
        font-weight: 300;
      }
      .sec1 {
        margin-left: 40px;
        h2 {
            font-family: Cyrene;
            font-size: 96px;
            width: 550px;
            position: absolute;
            left: 40%;
            transform: translateY(-150%);
        }
        img {
          margin-top: 100px;
          height: 700px;
          position: relative;
          left: 15%;

            }
      }
      .sec2 {
          margin-top: 10px;

          img {
              height: 700px;
              position: relative;
              left: 55%;
          }
          .sec2-text {
                position: absolute;
                left: 35%;
                transform: translateY(-150%);
                 h1 {
                     font-size: 120px;
                     width: 500px;
                 }
             p {
                font-size: 24px;
                font-family: 'Roboto';
                font-weight: 300;
                width: 280px;
                margin-top: 20px;
              }
          }

         
        
       
      }

      .sec3 {
        padding: 240px 20px 240px 20px;
        margin: 120px 0 120px 0;
       background-image: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
       background-position: center;
       background-size: cover;
       text-align: center;

       h3 {
           color: #D9A724;
           font-family: 'Roboto';
           font-weight: 300;
           font-size: 120px;
        //    text-shadow: 1px 1px 10px #000;
       }
     }

     .sec4 {
         margin-top: 120px;
         margin-bottom: 500px;
         text-align: center;

         p {
             font-size: 120px;
             font-family: Cyrene;
             width: 500px;
             position: absolute;
             left: 35%;
             transform: translateY(-60%);
         }

         
     }
     footer {
        width: 100%;
        

        img {
            width: 100%;
            position: absolute;
        }
      

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;

            

            a {
                text-decoration: none;
                font-family: 'Roboto';
                color: #000;
                font-size: 48px;
                z-index: 77;
                color: #1f4068;
                margin-top: 150px;
            }
        }
     }


    ////// SHAPES ////////

     .circle1 {
        height: 100px;
        width: 100px;
        background-color: #1f4068;
        border-radius: 50%;
        position: relative;
        left: 12%;
        transform: translateY(350%);
        z-index: 33;
     }

     .square {
        height: 150px;
        width: 150px;
        background-color: #206a5d;
        position: relative;
        left: 30%;
        transform: translateY(-60%);
     }
      
     .triangle {
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        border-right:60px solid transparent;
        border-bottom: 100px solid #1f4068;
        position: relative;
        left: 51%;
        transform: translateY(300%);
        z-index: 50;
     }

     .circle2 {
        height: 130px;
        width: 130px;
        background-color: #D9A724;
        border-radius: 50%;
        position: relative;
        left: 70%;
        transform: translateY(585%);
        z-index: 100;
     }

     .square2 {
        height: 150px;
        width: 150px;
        background-color: #206a5d;
        position: relative;
        left: 55%;
        transform: translateY(120%);
     }

     .circle3 {
        height: 110px;
        width: 110px;
        background-color: #D9A724;
        border-radius: 50%;
        position: relative;
        left: 12%;
        transform: translateY(520%);
     }
}